@import 'https://fonts.googleapis.com/css?family=Roboto';

body, html {
	font-family: 'Roboto', sans-serif;
	text-align: center; 
	color: #473134;
	background: #f0eef1;

	h1 {
		color: #97c652;
	}

	p {
		color: #473134;
	}

	a {
		color: #9d6953;
		text-decoration: none;
	}
	
	.feature {
		padding: 8px;
	}
}